/node_modules
/nbproject/
/public/hot
/public/uploads
/public/error_log
/public/storage/*
/public/uploads
/storage/*.key
/storage/*
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.ftpquota
.phpunit.result.cache
composer.lock
error_log
.htaccess